# VENV
dotenv

# Flask
flask
flask-admin
flask-login
flask-wtf
flask-migrate
flask-sqlalchemy

# PDF generator
weasyprint
Jinja2


# Parser
aiohttp
asyncio
beautifulsoup4
lxml

# Scheduler
apscheduler