<link rel="stylesheet" href="{{ url_for('static', filename='css/complete_workbook.css') }}">


{% extends "base.html" %}
{% block title %}{{ workbook.title }}{% endblock %}

{% block content %}
    <h1 id="title">{{ workbook.title }}</h1>

    <div class="container">
        <ul class="nav nav-tabs" id="workbookTabs" role="tablist">
            {% for date, sections in data.items() %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if loop.first %}active{% endif %}"
                            id="tab-{{ loop.index0 }}"
                            data-bs-toggle="tab"
                            data-bs-target="#content-{{ loop.index0 }}"
                            type="button"
                            role="tab">
                        {{ date }}
                    </button>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content content-tile mt-3" id="workbookContent">
            {% for date, sections in data.items() %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                     id="content-{{ loop.index0 }}"
                     role="tabpanel">

                    <form id="workbookForm__{{ date }}">
                        <div class="mb-3">
                            {% for title, value in sections['header'].items() %}
                                <div class="row mb-2">
                                    <div class="col-md-6 font-weight-bold">Presedinte</div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="{{ date }}__header__{{ title }}"
                                               value="{{ value[1] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {% for title, value in sections['intro'].items() %}
                                <div class="row mb-2">
                                    <div class="col-md-6 font-weight-bold">{{ title }}</div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="{{ date }}__intro__{{ title }}"
                                               value="{{ value[1] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <h4 class="mt-3">COMORI DIN CUVÂNTUL LUI DUMNEZEU</h4>
                        <div class="mb-3">
                            {% for title, value in sections['section_1'].items() %}
                                <div class="row mb-2">
                                    <div class="col-md-6 font-weight-bold">{{ title }}</div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="{{ date }}__section_1__{{ title }}"
                                               value="{{ value[1] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <h4 class="mt-3">SĂ FIM MAI EFICIENȚI ÎN PREDICARE</h4>
                        <div class="mb-3">
                            {% for title, value in sections['section_2'].items() %}
                                <div class="row mb-2">
                                    <div class="col-md-6 font-weight-bold">{{ title }}</div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="{{ date }}__section_2__{{ title }}"
                                               value="{{ value[1] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <h4 class="mt-3">VIAȚA DE CREȘTIN</h4>
                        <div class="mb-3">
                            {% for title, value in sections['section_3'].items() %}
                                <div class="row mb-2">
                                    <div class="col-md-6 font-weight-bold">{{ title }}</div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               name="{{ date }}__section_3__{{ title }}"
                                               value="{{ value[1] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>

        
        <div class="content-tile mt-3 mb-3">
            <form id="customize">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="show-background">
                    <label class="form-check-label" for="show-background">adauga imaginea de fundal</label><br>
                </div>

                <div class="mt-3">
                    <span>Indica posta/postele catre care se va transmite automat fisierul</span>
                    <div id="email-tags-container" class="tag-input-wrapper">
                        <div class="email-tags" id="email-tags"></div>
                        <div class="add-tag" id="add-tag">+</div>
                    </div>
                </div>
                
            </form>

            <div class="buttons mt-3">
                <button id="previewPdfBtn" class="btn btn-primary">Preview</button>
                <button id="generatePdfBtn" class="btn btn-primary">Genereaza fisierul</button>
            </div>
        </div>
    </div>

    <!-- Notification -->
    <div id="loadingMessage">
        ⏳ Generating your PDF... Please wait.
    </div>
    


    <script>
        const workbookDataFromServer = {{ data_json | safe }};
    </script>

    <script src="{{ url_for('static', filename='js/complete_workbook.js') }}"></script>

{% endblock %}
