<link rel="stylesheet" href="{{ url_for('static', filename='css/workbook.css') }}">

{% extends "base.html" %}
{% block title %}Workbooks{% endblock %}


{% block content %}
<main>
    <article id="article", class="layout-landing jwac dir-ltr">
        <header>
            <h1>Caiete pentru întrunirea „Viața creștină și predicarea”</h1>
        </header>
    </article>

    <div id="drop-area">
        <p>📄 Drag & drop your PDF here or click to select</p>
        <input type="file" id="fileElem" accept="application/pdf" hidden>
        <button id="fileSelect">Select PDF</button>
    </div>
    
    <div id="pubListResults" class="layout-landing">
        <div id="pubsViewResults" class="gridView dir-ltr">
            {% for wb in workbooks %}
            <div class="synopsis publication dir-ltr">
                <div class="syn-img cvr publication">
                    <div class="cvr-wrapper">
                        <a href="{{ url_for('workbooks.complete_workbook', link=wb.link) }}">
                            {% if wb.img %}
                            <img src="{{ wb.img }}" alt="{{ wb.title }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="syn-body publication">
                    <p class="contextTitle">
                        CAIET PENTRU ÎNTRUNIREA „VIAȚA CREȘTINĂ ȘI PREDICAREA”
                    </p>
                    <h3 class="publicationDesc">
                        <a href="{{ url_for('workbooks.complete_workbook', link=wb.link) }}">
                            {{ wb.title }}
                        </a>
                    </h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/workbook.js') }}"></script>

{% endblock %}
