.gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gridView .synopsis.publication {
    background-color: #fff6f6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.gridView .synopsis.publication .syn-img {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}



@media only screen and (max-width: 600px) {
    .gridView{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .gridView{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-device-width: 768px){
    .gridView{
        grid-template-columns: repeat(3, 1fr);
    }
}